---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Process from '../components/Process.astro';
import Sources from '../components/Sources.astro';
import Technology from '../components/Technology.astro';
import Portfolio from '../components/Portfolio.astro';
import Materials from '../components/Materials.astro';
import About from '../components/About.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Drukarnia 3D - Prototypowanie i Produkcja">
	<Navbar />
	<main>
		<Hero />
		<Process />
		<Sources />
		<Technology />
		<Portfolio />
		<Materials />
		<About />
		<Faq />
		<Contact />
	</main>
	<Footer />
</Layout>
