---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Drukarnia 3D - Prototypowanie i Produkcja" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "Service",
		  "name": "Wektor Kodu - Druk 3D",
		  "description": "Precyzyjne usługi druku 3D na zamówienie. Prototypowanie, części zamienne, modele.",
		  "provider": {
		    "@type": "LocalBusiness",
		    "name": "Wektor Kodu",
		    "image": "https://wektor3d.vercel.app/favicon.svg",
		    "priceRange": "$$"
		  },
		  "serviceType": "3D Printing",
		  "areaServed": "Poland",
		  "availableChannel": {
		    "@type": "ServiceChannel",
		    "serviceUrl": "https://wektor3d.vercel.app"
		  }
		}
		</script>
	</head>
	<body class="bg-zinc-950 text-zinc-300">
		<slot />
		<Analytics />
		<script>
			const observerOptions = { root: null, rootMargin: '0px', threshold: 0.1 };
			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						entry.target.classList.add('show');
						observer.unobserve(entry.target);
					}
				});
			}, observerOptions);

			// Obsługa ładowania strony i View Transitions
			['DOMContentLoaded', 'astro:page-load'].forEach(event => {
				document.addEventListener(event, () => {
					const hiddenElements = document.querySelectorAll('.fade-in-section');
					hiddenElements.forEach((el) => observer.observe(el));
				});
			});
		</script>
	</body>
</html>

<style is:global>
	.fade-in-section {
		opacity: 0;
		transform: translateY(30px);
		transition: opacity 0.8s ease-out, transform 0.8s ease-out;
		will-change: opacity, transform;
	}
	.fade-in-section.show {
		opacity: 1;
		transform: translateY(0);
	}

  .select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
</style>
